*{
    margin: 0px;
    background-color: #edefee;
}

nav{
    text-align: center;
    font-family: 'Karla', sans-serif;
    padding: 20px; 
    margin-top: 30px;
    color: black;
    border: 1px solid black;
    justify-content: center;
    width: 25%;
    margin: auto; 
    margin-top: 30px;
    margin-bottom: 30px;
}

a{
    text-decoration: none;
    padding: 20px; 
    color: black;
}


h1{
    text-align: center;
    font-family: 'Karla', sans-serif;
    color: #355b8c;
    font-size: 40px;
}

h2{
    font-family: 'Karla', sans-serif;
    color: black;
    text-align: left;
    font-size: 30px;
    
}

p {
    font-family: 'Inconsolata', monospace;
}

img{
    width: 325px;
}

#big, #big1{
    width: 600px;
}

.sport {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.head, .head1 {
    display: flex;
    flex-direction: column;
    padding: 30px;

}
.box1{
    border:1.5px solid black;
    display:flex;
    flex-direction: row;
    margin: 60px;
    padding: 30px 20px 20px 20px;
}

.box2, .box3, .box4 {
    border:1.5px solid #355b8c;
    background-color: #355b8c;
    padding: 20px 20px 20px 20px;
    margin: 35px;
    align-content: center;
}

.out{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.box11{
    border:1.5px solid black;
    display:flex;
    flex-direction: row;
    margin: 60px;
    padding: 30px 20px 20px 20px;
}

.box22, .box33, .box44 {
    border:1.5px solid #355b8c;
    background-color: #355b8c;
    padding: 20px 20px 20px 20px;
    margin: 35px;
    align-content: center;
}

#gif {
    width: 80px;
    height: 60px;
    display: block;
    margin: 20px auto;
}

hr{
    margin-left: 30px;
    margin-right: 30px;
}